[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-it-py = "==4.2.0"
mdurl = "==0.1.2"
pygments = "==2.20.0"
rich = "==15.0.0"

[dev-packages]

[requires]
python_version = "3.12"
